:root {
    --bg: #FFFFFF;
    --bg-accent: #E4E4E4;
    --text-color: #3A3A3A;
    --flashcard-width: 40vw;
    --animation-speed: 200ms;
    --nav-width: 11rem;
    font-family: 'Lato', sans-serif;
    color: #3A3A3A;
}

body {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
}

.wrapper {
    margin-right: auto;
    margin-left:  auto;

    max-width: 760px; /* 2 */

    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
    padding-top: 20px;
}

.navbar {
    width: var(--nav-width);
    height: 100vh;
    position: fixed;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-item {
    height: 3.6rem;
    font-size: 2rem;
    margin-right: calc(var(--nav-width) * 0.3);
}

.nav-link {
    font-size: inherit;
    text-decoration: none;
    color: #999999;
    transition: 200ms;
}

.nav-link:hover {
    color: #3A3A3A;
}

.nav-link.selected {
    color: #3A3A3A;
}

.nav-item:last-child {
    margin-top: 10rem;
    font-size: 1.5rem;
}

.flashcard {
    background-color: #FFF;
    width: var(--flashcard-width);
    height: calc(var(--flashcard-width) * 0.5);
    border-radius: 15px;
    box-shadow: 0px var(--flashcard-shadow, 4px) 4px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-right: auto;
    margin-left: auto;

    transition: 200ms;
    transition-timing-function: ease-out;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateX(var(--rotate-x, 0));
}

.flashcard.flipped {
    --rotate-x: 180deg;
    --flashcard-shadow: -4px
}

.flashcard .front,
.flashcard .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.flashcard .back {
    transform: rotateX(180deg);
}

.progress-bar {
    background-color: var(--bg-accent);
    height: 8px;
    width: calc(var(--flashcard-width) * 0.8);
    border-radius: 4px;
    margin: 20px;

    margin-right: auto;
    margin-left: auto;
}

.inner-bar {
    background-color: #3A3A3A;
    /*height: 100%;*/
    border-radius: inherit;
    transition: width var(--animation-speed) ease-in;
    height: inherit;
    /*position: absolute;*/
}

#green-bar {
    z-index: 3;
    background-color: #7ACB5E;
}

#orange-bar {
    z-index: 2;
    background-color: #F1B458;
    margin-top: -8px;
}

#red-bar {
    z-index: 1;
    background-color: #E88383;
    margin-top: -8px;
}

.button-row {
    display: flex;
    flex-direction: row;

    margin-right: auto;
    margin-left: auto;
}

.button {
    border: none;
    border-radius: calc(var(--flashcard-width) * 0.07 * 0.3);
    height: calc(var(--flashcard-width) * 0.07);
    width: calc(var(--flashcard-width) * 0.07);
    margin: 10px;
    margin-top: 20px;

    transition: var(--animation-speed);
}

.button:hover {
    filter: brightness(0.8);
}

.button:focus {
    filter: brightness(0.8);
    outline: none;
}

#green-button {
    background-color: #7ACB5E;
    margin-right: auto;
}

#orange-button {
    background-color: #F1B458;
}

#red-button {
    background-color: #E88383;
    margin-left: auto;
}

.browse {
    margin-left: var(--nav-width);
}

.browse-row .row {
    display: flex;
    flex-direction: row;

    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;

    width: 100%;

    transition: 150ms;
}

.browse-row .row .buttons {
    margin-left: auto;
    margin-top: auto;
}

.browse-row .row .buttons .nav {
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 15px;

    margin: 6px;
}

.browse-row .row .subtitle {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 10px;
}

.browse-row .row .element {
    width: 130px;
    height: 170px;
    margin-right: 20px;

    transition: 150ms;
}

.browse-row .row .element:hover {
    width: 137.64px;
    height: 180px;
    filter: brightness(0.8);
}

.browse-row .row .element .card {
    display: flex;

    width: inherit;
    height: inherit;
    border-radius: 13px;
    background-color: #aed9e0;
    box-shadow: inset 0px -5px 30px rgba(0, 0, 0, 0.05);
    /*padding: 9px;*/

    margin-bottom: 5px;
}

.browse-row .row .element .title {
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    padding: 10px;

    font-weight: 400;
    font-size: 1rem;

    align-self: flex-end;
}

.progress {
    animation: progress 2s reverse;
    transform: rotate(-90deg);
    transform-origin: center;

    fill: none;
    stroke: #FFFFFF;
    stroke-width: 6;
    stroke-dasharray: 25 100;
    /*stroke-dashoffset: 1000;*/
    stroke-linecap: round;
}

@keyframes progress {
    to { stroke-dasharray: 0 100; }
}
