:root {
    --bg: #FFFFFF;
    --bg-accent: #E4E4E4;
    --text-color: #3A3A3A;
    --flashcard-width: 40vw;
    --animation-speed: 200ms;
    --nav-width: 10rem;
    font-family: 'Inter', sans-serif;
    color: #3A3A3A;
}

body {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
}


.nav-link {
    font-family: Inter;
    font-style: normal;
    letter-spacing: 0.04em;

    display: flex;
    flex-direction: column;

    color: #BABABA;
    stroke: #A9A9A9;
    fill: #A9A9A9;

    text-decoration: none;
    transition: 100ms;
}

.nav-link:hover {
    color: #3A3A3A;
    stroke: #3a3a3a;
}

.nav-link.selected {
    color: #3a3a3a;
    stroke: #3a3a3a;
    fill: #3A3A3A;
}

/* .nav-item svg {
    width: 32px;
    height: 32px;
    fill: #A9A9A9;
} */

.mobile-nav-icon {
    margin-left: auto;
    margin-right: auto;
    fill: none;
}

.mobile-nav-icon .selected {
    stroke: #3a3a3a;
}

.settings-svg {
    width: 32px;
    height: 32px;
    stroke: none;
}

.settings-svg:hover {
    fill: #3A3A3A;
}

.navbar-nav {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
}



.flashcard {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    /* box-shadow: 0px var(--flashcard-shadow, 4px) 4px rgba(0, 0, 0, 0.05); */
    box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-right: auto;
    margin-left: auto;

    transition: 200ms;
    transition-timing-function: ease-out;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateX(var(--rotate-x, 0));
}

.flashcard.flipped {
    --rotate-x: 180deg;
    --flashcard-shadow: -4px
}

.flashcard .front,
.flashcard .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.flashcard .back {
    transform: rotateX(180deg);
}

.progress-bar {
    background-color: var(--bg-accent);
    height: 8px;
    width: 100%;
    border-radius: 4px;
    margin: 20px;

    margin-right: auto;
    margin-left: auto;
}

.inner-bar {
    background-color: #3A3A3A;
    /*height: 100%;*/
    border-radius: inherit;
    transition: width 100ms ease-in;
    height: inherit;
    /*position: absolute;*/
}

#green-bar {
    z-index: 3;
    background-color: #7ACB5E;
}

#orange-bar {
    z-index: 2;
    background-color: #F1B458;
    margin-top: -8px;
}

#red-bar {
    z-index: 1;
    background-color: #E88383;
    margin-top: -8px;
}

.button-row {
    display: flex;
    flex-direction: row;

    margin-right: auto;
    margin-left: auto;
}

.button {
    border: none;
    border-radius: calc(var(--flashcard-width) * 0.07 * 0.3);
    height: calc(var(--flashcard-width) * 0.07);
    width: calc(var(--flashcard-width) * 0.07);
    margin: 10px;
    margin-top: 20px;

    transition: var(--animation-speed);
}

.button:hover {
    filter: brightness(0.8);
}

.button:focus {
    filter: brightness(0.8);
    outline: none;
}

#green-button {
    background-color: #7ACB5E;
    margin-right: auto;
}

#orange-button {
    background-color: #F1B458;
}

#red-button {
    background-color: #E88383;
    margin-left: auto;
}

.browse {
    margin-left: var(--nav-width);
}

.browse-row .row {
    overflow-x: scroll;
    overflow-y: hidden;
    /* white-space: nowrap; */

    display: flex;
    flex-direction: row;

    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;

    width: 100%;

    transition: 150ms;
}

.browse-row .row .subtitle {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 10px;
    /* margin-top: 10px; */

    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 15px;
}

.browse-row .row .element {
    display: inline-block;
    width: 164px;
    height: 200px;
    margin-right: 20px;

    transition: 150ms;
}

.browse-row .row .element:hover {
    /* width: 137.64px;
    height: 180px; */
    filter: brightness(0.95);
}

.browse-row .row .element .card {
    display: flex;

    width: inherit;
    height: inherit;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.browse-row .row .element .title {
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 10px;
    /* padding: 15px; */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #5B5656;

    align-self: flex-end;

}

.stats {
    display: flex;
    flex-direction: row;
}

.stats-label {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    font-weight: 300;
    /* font-size: 2rem; */
    width: 2rem;
}

.stats-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.stats-circle {
    display: block;
    width: 100px;
    justify-content: space-around;

}

.circular-chart {
    display: block;
    margin: 10px auto;
    /* max-width: 80%;
    max-height: 250px; */
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 4;
}

.circle {
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

.circle.green {
    stroke: #7ACB5E;
}

.circle.orange {
    stroke: #F1B458;
}

.circle.red {
    stroke: #E88383;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart .internal-label {
    font-weight: 400;
    font-size: 0.5rem;
    text-anchor: middle;
}

.stats-bar .internal-label {
    font-weight: 400;
    font-size: 1rem;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}


.category-button {
    background-color: #F5F5F5;
    border: none;
    height: 40px;
    border-radius: 20px;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 5px;

    stroke: #000000;
    transition: 100ms;

    cursor: pointer;
}

.category-button:hover {
    filter: brightness(0.95);
}

.category-button:focus {
    outline: none;
}

.category-button.selected {
    background-color: rgba(185, 209, 255, 0.49);
    color: #2C4A83;
    stroke: #2C4A83;
}

.category-button .emoji {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}

.category-button .label {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.category-button svg {
    height: 1.1em;
    width: 1.1em;
    top: .125em;
    margin: 0;
    position: relative;
    stroke-width: 2px;
}


.dropdown {
    position: relative;
    display: inline-block;
    background-color: #F5F5F5;
}

.category-label {
    background-color: #F5F5F5;
    border: none;
    height: 30px;
    border-radius: 20px;
    color: #000000;
    margin: 0;
    margin-right: 5px;
    margin-bottom: 5px;

    padding-left: 10px;
    padding-right: 10px;
    /* padding-top: 3px; */
    padding-bottom: 5px;

    stroke: #000000;
    transition: 100ms;

    cursor: pointer;
}

.category-label .emoji {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

.category-label .label {
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.header {
    /* margin-top: 20px; */
}

.header-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header-sticky {
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; */
    
}

.title-div {
    margin-right: auto;
}

.header-back-button {
    padding: 0;
    margin-left: -7px;
    background-color: transparent;
    border: none;
    height: 40px;
    color: #616161;
    transition: 100ms;

    cursor: pointer;
}

.header-back-button-label {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;

    vertical-align: middle;
    display: inline-block;
}

.header-back-button svg {
    height: 1.8em;
    width: 1.8em;
    /* top: .525em; */
    margin: 0;
    stroke: #616161;
    margin-right: 5px;

    display: inline-block;
    vertical-align: middle;

}

.header-back-button:hover {
    filter: brightness(0.9);
}

.header-back-button:focus {
    outline: none;
}

.button-header {
    background-color: #F5F5F5;
    border: none;
    height: 40px;
    border-radius: 10px;
    color: #616161;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 5px;

    transition: 100ms;

    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;

    cursor: pointer;
}

.button-header:hover {
    filter: brightness(0.9);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.deck-view-header {
    margin: 10px;
}

.desktop-stats {
    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.mobile-stats {
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
}

h1 {
    font-size: 2.5rem;
    line-height: 44px;
    font-weight: bold;
    color: #000000;

    margin: 6px;
    margin-left: 0;
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #B4B2B2;

    margin: 10px;
    margin-left: 0;
}



.by-line {
    margin-left: auto;
}

.created-by {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 0px;
}

.author {
    font-size: 15px;
    font-weight: 400;
    margin-top: 3px;
}

.deck-view-preview .deck {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    width: 550px;
    height: 300px;
}

.preview-button-pair {
    width: max-content;
    /* height: ; */

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
}

.preview-button {
    background-color: transparent;
    border: none;
    stroke: #616161;

    cursor: pointer;
}

.preview-button:disabled,
.preview-button[disabled] {
    stroke: none;
}

.preview-button svg {
    height: 1.8em;
    width: 1.8em;
    /* top: .525em; */
    margin: 0;
    margin-right: 5px;

    display: inline-block;
    vertical-align: middle;

}

h4 {
    font-weight: 500;
}

.deck-view-button-group-flex {
    display: flex;
    flex-direction: column;
}

.deck-view-button-group {
    margin-top: 30px;
    margin-left: 10px;
}

.deck-view-preview-flex {
    display: flex;
    flex-direction: row;
}

.deck-view-preview-flex .buttons {
    display: flex;
    flex-direction: column;
}

h5 {
    color: #616161;
}

label {
    /* text-transform: uppercase; */
    color: #B4B2B2;
    font-size: 0.9rem;
    font-weight: 400;

    margin-top: 10px;
}

.error {
    color: #E88383;
    font-size: 0.8rem;
    font-weight: 400;

    margin-top: 5px;
    /* margin-bottom: 5px; */
}

.auth-form {
    margin: auto;
    margin-top: 10px;

    border-radius: 10px;
    padding: 30px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;

    box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.05);
}

.text-input {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all .3s;

    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #000;
}
.text-area {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0,0,0,.65);
    font-size: 1rem;
    line-height: 1.5715;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    resize: none;

    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #000;
}

.form-button {
    margin-top: 10px;

    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(0,0,0,.015);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: rgba(0,0,0,.65);
    background: #fff;
    border-color: #d9d9d9;
}

.form-button:active,
.form-button:focus {
    color: #40a9ff;
    border-color: #40a9ff;
    outline: 0;
}

.edit-primary-elements {
    max-width: 500px;
}

.card-row {
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    background-color: none;
    display: flex;
    flex-direction: column;

    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 5px;
}

.card-row .head {
    display: flex;
    flex-direction: row;
}

.card-row .head .delete {
    margin-left: auto;
    border: none;
    background: none;
    padding: none;
}

.card-row .head .delete svg {
    margin-left: auto;
    width: 32px;
    height: 32px;
    stroke: #B4B2B2;;
}

.card-row .head .index {
    margin: 0;
    color: #B4B2B2;
}


@media only screen and (max-width: 600px) {
    .wrapper {
        max-width: 90vw;

        /* padding-right: 10px; 
        padding-left:  10px; 
        padding-top: 10px; */
    }

    .navbar {
        width: 100vw;
        height: 4.2rem;
        bottom: 0;

        border-top: 1px solid #EEEEEE;
        /* margin-right: 10px;
        margin-left: 10px; */

        position: fixed;
    }

    .navbar-nav {
        padding-top: 9px;

        flex-direction: row;

        height: 10%;
    }

    .nav-item {
        height: 3rem;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-link {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;

        transition: 0ms;
    }

    .nav-item:last-child {
        padding-top: 0.6rem;
    }

    h1 {
        font-size: 2rem;

        margin-bottom: 5px;
        margin-top: 5px;
    }

    h3 {
        font-size: 1rem;

        margin-bottom: 5px;
        margin-top: 5px;
    }

    .deck-view-header .topics {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .desktop-stats {
        display: none;
    }

    .deck-view-preview .deck {
        width: 100%
    }

}

@media only screen and (min-width: 600px) {
    .wrapper {
        max-width: 90vw;
    }

    .navbar {
        width: var(--nav-width);
        height: 100vh;
        /* position: fixed; */

        border-right: 1px solid #EEEEEE;
        ;
        margin-right: 40px;
        margin-left: 40px;
        /* padding-top: 40px; */
    }

    .navbar-nav {
        padding-top: 40px;

        flex-direction: column;
        /* align-items: center; */
        height: 95%;
    }

    .nav-link {
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
    }

    .nav-item {
        height: 4rem;
        width: 100%;
    }

    .nav-item:last-child {
        margin-top: auto;
        margin-left: auto;
        width: 32px;
        margin-right: 40px;
    }

    .mobile-nav {
        display: none;
    }

    .mobile-stats {
        display: none;
    }
}

@media only screen and (min-width: 900px) {
    .wrapper {
        max-width: 840px;
    }
}